<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>rfsocial - adatvédelmi tájékoztató</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>

</head>
<body>
    <h2>Adatvédelmi tájékoztató</h2>
    <h3>1. Az adatkezelő adatai</h3>
    <div>
        <p>A rfsocial webalkalmazás adatkezelője:</p>
        <p>Név: rfsocial kft.</p>
        <p>Székhely: 3011, Heréd, Cica utca 7.</p>
        <p>Kapcsolattartási e-mail: <a href="mailto:ugyfelszolgalat@rfsocial.hu">ugyfelszolgalat@rfsocial.hu</a></p>

 </div>
 <h3 >2. Az általunk gyűjtött adatok</h3>
 <div>
    <p>Az azonosításhoz szükséges felhasználónév valamint jelszó, mely titkosítva kerül tárolásra.</p>
    <p>Regisztráció dátuma</p>
    <p>A következő adatokat abban az esetben, amennyiben azt a felhasználó megosztja az adatkezelővel:
        <ul>
            <li>e-mail cím</li>
            <li>születési dátum</li>
            <li>személyes leírás</li>
            <li>profilkép</li>
            <li>csoportos valamint privát üzenetek</li>
            <li>bejegyzések</li>
            <li>hozzászólások</li>
            <li>interakciók</li>
        </ul>
    </p>
    <h3>
        4. Az adatok biztonsága
    </h3>
    <p>
        Az adatok védelme érdekében megfelelő technikai és szervezési intézkedéseket alkalmazunk. A jelszavak titkosított formában kerülnek tárolásra, és minden egyéb adatot is bizalmasan kezelünk. Nem adjuk át az adatokat harmadik félnek, kivéve ha azt jogszabály írja elő.
    </p>
    <h3>
        5. A felhasználói jogok
    </h3>
    <p>
        Felhasználóinknak joguk van hozzáférni a tárolt adataikhoz, azokat módosítani, illetve kérhetik azok törlését. A felhasználók saját adataikat bármikor letölthetik a beállítások menüpont alatt. Az adatokhoz való hozzáférés vagy azok törlése érdekében kérjük, lépjen kapcsolatba az adatkezelővel a fenti elérhetőségeken.
    </p>
    <h3>6. Az adatok tárolásának időtartama</h3>
    <p>A felhasználói adatokat addig tároljuk, amíg a felhasználó aktív fiókkal rendelkezik. A fiók törlését követően az adatok véglegesen törlésre kerülnek a rendszerből, kivéve azokat az adatokat, amelyek megőrzését jogszabály írja elő.
    </p>
    <h3>7. Változások az adatvédelmi tájékoztatóban</h3>
    <p>
        Fenntartjuk a jogot, hogy időről időre frissítsük ezt az adatvédelmi tájékoztatót. A változásokról a felhasználókat értesítjük, és az új szabályok a közzététel napjától lépnek hatályba.
    </p>
 </div>
 <div>
   <a href="/login">Vissza a főoldalra</a>
 </div>
</body>
</html>