<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>rfsocial - felhasználói feltételek</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>

</head>
<body>
<h3>1. Az alkalmazás használatának feltételei
</h3>
<div>A rfsocial webalkalmazás célja, hogy közösségi platformként szolgáljon a felhasználók számára, ahol kapcsolatba léphetnek egymással, üzeneteket küldhetnek, bejegyzéseket tehetnek közzé és csoportokat alkothatnak. A szolgáltatás használatával elfogadod, hogy betartod a jelen feltételeket.
</div>
<h3>2. Fiók létrehozása és használata</h3>
<div><ul>
    <li>A szolgáltatás használatához felhasználói fiókra van szükség.</li>
    <li> A regisztráció során köteles vagy valós, naprakész információkat megadni.</li>
    <li>Te vagy felelős a fiókod biztonságáért, beleértve a jelszavad védelmét.</li>
    <li>A fiókod használatáért kizárólag te vagy felelős. Ha úgy gondolod, hogy illetéktelen személy használja a fiókodat, azonnal lépj kapcsolatba velünk.</li>
</ul></div>
<h3>3. Felhasználói tartalmak</h3>
<div>
    A rfsocial lehetőséget biztosít a felhasználóknak, hogy üzeneteket, bejegyzéseket, képeket és más tartalmakat osszanak meg. Az alábbiak érvényesek a felhasználói tartalmakra:
    <ul>
        <li>A közzétett tartalmak nem sérthetik mások jogait, és nem lehetnek törvénysértőek.</li>
        <li>Nem tölthetsz fel sértő, gyűlöletkeltő, zaklató vagy mások méltóságát sértő tartalmat.</li>
        <li>Nem tölthetsz fel vírust, kártékony szoftvert vagy más technikai fenyegetést jelentő tartalmat.</li>
        <li>A rfsocial fenntartja a jogot, hogy eltávolítson minden olyan tartalmat, amely a fenti szabályokat sérti vagy más módon veszélyesnek minősül.</li>
    </ul>
</div>
<h3>4. Felhasználói magatartás</h3>
<div>
    A szolgáltatás használatakor köteles vagy tiszteletben tartani más felhasználók jogait és szabadságait. Különösen az alábbiak tilosak:
    <ul>
        <li>Mások zaklatása, fenyegetése vagy becsmérlése.</li>
        <li>Hamis információk terjesztése vagy félrevezető adatok közzététele.</li>
        <li>A szolgáltatás vagy más felhasználók adatainak jogosulatlan megszerzése vagy felhasználása.</li>
    </ul>
</div>
<h3>5. Szellemi tulajdon</h3>
<div>A rfsocial alkalmazás és annak összes tartalma (beleértve, de nem kizárólagosan: szoftver, grafikai elemek, design és funkciók) a szolgáltató szellemi tulajdona, és jogvédelem alatt áll. A felhasználóknak nem áll jogukban ezen tartalmakat másolni, terjeszteni, módosítani vagy kereskedelmi célra felhasználni, kivéve, ha ehhez kifejezett engedélyt kaptak.</div>
<h3>6. Az alkalmazás elérhetősége és működése</h3>
<div>Törekszünk arra, hogy a szolgáltatás zavartalanul működjön, de nem garantáljuk a folyamatos, hibamentes működést. Karbantartások, frissítések vagy egyéb okok miatt a szolgáltatás időszakosan elérhetetlenné válhat.
</div>
<h3>7. Felelősség kizárása</h3>
<div>A rfsocial nem vállal felelősséget a felhasználók által közzétett tartalmakért, illetve a szolgáltatás hibamentességéért. Nem vállalunk felelősséget semmilyen közvetett vagy közvetlen kárért, amely a szolgáltatás használatából ered.
</div>
<h3>8. Adatvédelem</h3>
<div>Az adatvédelmi irányelveinket az Adatvédelmi Tájékoztató tartalmazza, amely elérhető [link az adatvédelmi tájékoztatóhoz]. A rfsocial használatával elfogadod az adatkezelési gyakorlatunkat.</div>
<h3>9. A feltételek módosítása</h3>
<div>Fenntartjuk a jogot, hogy bármikor módosítsuk ezeket a felhasználási feltételeket. A változásokról a felhasználókat értesítjük, és a módosított feltételek az értesítés napjától lépnek hatályba.</div>
<h3>10. A szolgáltatás megszüntetése</h3>
<div>Fenntartjuk a jogot, hogy előzetes értesítés nélkül megszüntessük a szolgáltatást vagy korlátozzuk a hozzáférést, különösen, ha a felhasználó megszegi a jelen feltételeket.</div>
<h3>11. Kapcsolatfelvétel</h3>
<div>Amennyiben bármilyen kérdésed vagy észrevételed van a jelen feltételekkel kapcsolatban, lépj velünk kapcsolatba a következő címen:<a href="mailto:ugyfelszolgalat@rfsocial.hu">ugyfelszolgalat@rfsocial.hu</a></div>
<div><a href="/login">Vissza a főoldalra</a></div>
</body>