<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/notification-layout.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Lexend' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b24ccbfca6.js" crossorigin="anonymous"></script>
    <title>rfsocial - értesítések</title>
</head>
<body>


<%- include('../partials/navbar-template');%>

<div class="notification-div">
    <%- include('../pages/notifications.ejs'); %>
</div>



</body>
</html>